.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 1300ms;
}
.modal-enter {
  opacity: 0;
  transform: translateY(200px);
}
.modal-enter-active, .modal-enter-done {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.modal-exit {
  opacity: 1;
  transform: translateY(0);
}
.modal-exit-active, .modal-exit-done {
  visibility: hidden;
  opacity: 0;
  transform: translateY(200px);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
